<template name="titlePage">
  <div class="title-section overlay" style="background-image: url({{dict 'site.heroImage.url'}})">
    <div class="container">
        <div class="row centered">
            <div class="col-md-12">
              <h1 class="section-title"><img src="images/logo-big.png"></h1>
              <p class="section-subtitle">{{{dict 'site.description' 'No description'}}}</p>
                <img class="appstore-icon"  src="images/apple-app-store-icon.png">
            </div>
            <!--<div class="col-md-6">-->

            <!--</div>-->
        </div>
    </div>
  </div>
</template>
